[Unit]
Description=Infisical secrets agent
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=infisical-agent
Group=infisical-agent
UMask=0077

ExecCondition=/usr/bin/test -s /etc/infisical-agent/client-id
ExecCondition=/usr/bin/test -s /etc/infisical-agent/client-secret
ExecStart=/usr/bin/infisical agent --config /etc/infisical-agent/agent-config.yaml

Restart=on-failure
RestartSec=30s

NoNewPrivileges=true
PrivateDevices=true
PrivateTmp=true
ProtectHome=true
ProtectSystem=strict
ReadWritePaths=/var/lib/infisical-agent
CapabilityBoundingSet=
LockPersonality=true
RestrictAddressFamilies=AF_INET AF_INET6

[Install]
WantedBy=multi-user.target
